:root,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
  margin: 0 auto 2em auto;
  font-family: Inter, sans-serif;
  text-align: justify;
}

pre {
  margin: 0;
  padding: 1em;
  background: #444;
  color: #fffbea;
  font-weight: bold;
}
