:root {
  --bg-color: white;
  --shadow-color: #888;
  --code-block: #eee;
  --text-color: #333;
  --link-color: #06c;
  --banner-color: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --shadow-color: #ccc;
    --code-block: #222;
    --text-color: #fffbea;
    --link-color: #80c6e8;
    --banner-color: #555;
  }
}

:root,
html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: Helvetica;
  width: 800px;
  margin: 0.5em auto;
  border: 1px solid var(--text-color);
  padding: 0 1rem;

  box-shadow: 0 0 10px var(--shadow-color);

  h1,
  h2 {
    background: var(--banner-color);
    margin: 0 -1rem;
    padding: 0.3em 1rem 0.1em;
    span {
      vertical-align: -0.05em;
    }
  }

  h2 {
    margin-top: 1em;
  }

  h4 {
    &.example {
      display: table;
      background-color: var(--banner-color);
      border: 1px solid var(--text-color);
      border-left: none;
      position: relative;
      left: calc(-1rem - 1px);
      padding: 0.1em 0.5em 0.1em 1em;
    }
  }

  #toc {
    column-count: 3;
    padding: 1em 0 2em;
    ul {
      margin: 0;
    }
    h4 {
      &.sep {
        text-transform: capitalize;
        margin: 0.5em 0;
        margin-top: 0.5em;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  a {
    text-decoration: none;

    &:link,
    &:visited,
    &:active,
    &:hover,
    &:focus {
      color: var(--link-color);
    }

    &[href="#top"] {
      float: right;
      font-size: 0.8em;
      margin-top: 0.2em;
    }
  }

  section {
    graphics-element {
      min-width: 200px;
      min-height: 200px;
    }
    pre {
      background: var(--code-block);
      color: var(--text-color);
      font-weight: bold;
      padding: 1em;
      margin: 1em 0;
    }
    code.const {
      display: block;
      margin-top: 1em;
      margin-left: 2em;
    }
    .signatures {
      code {
        background-color: inherit !important;
      }
    }
  }

  code {
    padding: 0;
    font-size: 0.9rem;
    background-color: var(--code-block) !important;
  }

  pre code.hljs {
    padding: 0;
  }
}
