html {
  width: 100%;
  height: 100%;
  background: rgb(218, 228, 236);
}

body {
  width: 800px;
  margin: auto;
  padding: 1em;
  min-height: calc(100% - 2em);
  background: white;
  border: 10px solid #899fd5;
  border-width: 0px 2px;
  box-shadow: 0 0 14px #5b7ba6;
  font-family: Arial;
  font-size: 18px;
}

footer {
  margin-top: 2em;
  font-size: 0.8em;
}

h1 {
  font-variant: small-caps;
  text-align: center;
}

h1 span {
  font-size: 0.6em;
  vertical-align: 0.15em;
  font-family: courier;
}

main {
  display: flex;
  flex-direction: column;
}

code {
  font-family: monospace;
  font-weight: bold;
  color: #8000ff;
}

pre {
  font-size: 80%;
  font-weight: bold;
  color: #4d1486;
  border: 1px solid black;
  padding: 5px;
  width: 90%;
  margin: auto;
}

p {
  overflow: auto;
  text-align: justify;
}

hr {
  border: 1px solid rgb(137, 159, 213);
  width: 85%;
  margin: 1.5em auto;
}



/*
  Let's look at how we can give the <graphics-element> a decent look,
  but also how we can make sure that the <fallback> content only shows
  when the <graphics-element> isn't actually defined, because scripts
  are disabled (or blocked!).
*/

graphics-element {
  border: 1px solid grey;
}

graphics-element:defined {
  display: inline-block;
  padding: 0.5em;
  margin: 1em auto;
  justify-self: center;
  font-size: revert;
  text-align: revert;
}

graphics-element:not(:defined) > * {
  display: none;
}

graphics-element:not(:defined) fallback {
  display: block;
  font-size: 60%;
  text-align: center;
  padding-bottom: 0.2em;
}

graphics-element:defined fallback {
  display: none;
}

graphics-element fallback > img {
  display: block;
}
